<!DOCTYPE html>
<html lang="es">
<head>
    <title>@ViewData["Title"] | Isolaatti</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <meta property="og:type" content="website"/>
    <meta property="og:image" content="https://isolaatti.com/res/imgs/isolaatti_banner.png"/>
    <meta property="og:description" content="Plataforma social de código abierto."/>
    @RenderSection("metadata", false)
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="shortcut icon" href="~/favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="~/favicon-192.png">
    <link rel="icon" type="image/png" sizes="160x160" href="~/favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="~/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon-16.png">

    <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/ui/4.8.0/firebase-ui-auth.js"></script>
    <script src="https://kit.fontawesome.com/fde197fc03.js" crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.8.0/firebase-ui-auth.css"/>
    <link rel="stylesheet" href="~/css/welcome-purple-image.css"/>

    @RenderSection("scripts_google", false)
    @RenderSection("css", false)
</head>
<body>
<div class="d-flex flex-column" style="min-height: 100vh">
    <div class="container-fluid external-content-bar">
        <div class="d-flex col-12 flex-column">
            <div class="d-flex align-items-center flex-wrap pt-4 pb-4">
                <div class="d-flex" id="isolaatti-logo">
                    <h1 class="d-flex justify-content-center align-items-center m-0">
                        <a href="/" id="isolaatti-icon"></a>
                    </h1>
                </div>
                <div class="d-flex ml-auto">
                    <a asp-page="/MakeAccount" class="btn btn-dark mr-1">Regístrate</a>
                    <a asp-page="/LogIn" class="btn btn-primary">Inicia sesión</a>
                </div>
            </div>

        </div>
    </div>
    <div class="container mb-5">

        @* Server rendered alerts *@
        @if (ViewData.ContainsKey("alerts"))
        {
            @foreach (var (key, value) in ((Dictionary<string, string>)ViewData["alerts"])!)
            {
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-@key">
                            @value
                        </div>
                    </div>
                </div>
            }
        }


        <div class="row">
            @RenderBody()
        </div>

    </div>
    <footer class="mt-auto">
        <p class="text-center">
            <span class="isolaatti-name-footer">Isolaatti</span>
            hecho con <i class="fas fa-heart" style="color: red"></i> por <em>Erik Cavazos</em>, 2020 - 2022
        </p>
        <p class="text-center footer-font-color font-weight-lighter">
            <a href="https://github.com/erik-everardo/Isolaatti-BackendWebApp" class="link">Código fuente</a>
            <a href="https://play.google.com/store/apps/details?id=com.erik.isolaatti" class="link">App</a>
            <a asp-page="/About" class="link">Acerca de</a>
            <a asp-page="/s/Legal/PrivacyPolicy" class="link">Política de privacidad y cookies</a>
            <a asp-page="/s/Legal/TermsOfUse" class="link">Términos de uso</a>
            <a href="https://ayuda.isolaatti.com/" class="link">Ayuda</a>
            <a href="https://blog.isolaattisoftware.com.mx/" target="_blank" class="link">Blog</a>
        </p>
        <p class="text-center text-white-50">

        </p>
    </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
@RenderSection("Scripts", false)
</body>
</html>