@using Isolaatti.isolaatti_lib
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] | Isolaatti</title>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="~/css/audios-feed-bottom-sheet.css">

    <link rel="shortcut icon" href="~/favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="~/favicon-192.png">
    <link rel="icon" type="image/png" sizes="160x160" href="~/favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="~/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon-16.png">

    @RenderSection("CSS", required: false)

    <link rel="stylesheet" href="~/fontawesome/css/all.min.css">
    @*Server defined constants*@
    <script>
    const userData = {id:@ViewData["userId"],name:"@ViewData["name"]",email:"@ViewData["email"]"};
    const sessionToken = '@Html.Raw(Context.Request.Cookies["isolaatti_user_session_token"])';
    const customHttpHeaders = new Headers();
    customHttpHeaders.append("sessionToken",sessionToken);
    customHttpHeaders.append("Content-Type", "application/json")
    </script>
</head>
<body>


@* All the content of this div with id app can host Vue.js components. Do not create new instances of Vue.js inside *@
<div id="app" class="position-relative overflow-hidden">
    <div class="modal fade" id="search-modal">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
            <div class="modal-content bg-transparent p-2 border-0">
                <quick-search></quick-search>
            </div>
        </div>
    </div>
    <section class="notifications-stack" id="notifications">

    </section>
    <div class="container">
        <nav class="d-flex custom-nav sticky-top pr-2 pl-2" id="isolaatti-top-bar">
            <a href="/" class="nav-link custom-nav-link mr-md-auto" id="isolaatti_brand"></a>
            <div class="container-md container-fluid" id="top-bar-content">

                <div class="d-flex w-100 align-items-center">

                    @* <audio-player class="ml-auto"></audio-player> *@
                    <button class="btn btn-transparent nav-link custom-nav-link mr-1 ml-auto" data-toggle="modal" data-target="#search-modal">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                    
                    <div class="dropdown">
                        <a class="nav-link custom-nav-link mr-1 dropdown-toggle"
                           href="#"
                           role="button"
                           id="dropdownNotificationsMenuLink"
                           aria-haspopup="true" aria-expanded="false"
                           data-toggle="dropdown">
                            <i class="fas fa-bell"></i>
                            <span class="badge badge-light" id="unread-count"></span>
                        </a>
                        <div class="dropdown-menu">
                            <div class="dropdown-header">
                                Notificaciones
                            </div>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                Ver todo
                            </a>
                        </div>
                    </div>

                    <div class="dropdown">
                        <a class="nav-link custom-nav-link nav-link mr-1 dropdown-toggle"
                           href="#"
                           role="button"
                           id="dropdownMenuLink"
                           data-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="false">
                            @if (ViewData["profilePicUrl"] == null)
                            {
                                <i class="fas fa-user-circle"></i>
                            }
                            else
                            {
                                <img width="40" height="40" src="@ViewData["profilePicUrl"]" class="user-avatar"/>
                            }
                        </a>
                        <div class="dropdown-menu dropdown-menu-right"
                             aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">
                                @ViewData["name"]
                            </div>
                            <div class="dropdown-divider"></div>
                            <a asp-page="/MyProfile"
                               class="dropdown-item">
                                @if (ViewData["profilePicUrl"] == null)
                                {
                                    <i class="fas fa-user-circle"></i>
                                }
                                else
                                {
                                    <img width="40" height="40" src="@ViewData["profilePicUrl"]" class="user-avatar"/>
                                }
                                Mi perfil
                            </a>
                            <a class="dropdown-item"
                               asp-page="/Settings">
                                <i class="fas fa-cog"></i>Ajustes
                            </a>
                            <a class="dropdown-item"
                               asp-page="/About"
                               target="_blank">
                                <i class="fas fa-info"></i>Acerca de
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item"
                               href="/WebLogOut">
                                <i class="fas fa-sign-out-alt"></i>@Languages.Spanish[Languages.SignOut]
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <main style="height: calc(100vh - 77px); overflow: auto;" id="app-main">
        <div class="container p-0" v-on:click="showAudiosFeedState='hide'">@RenderBody()</div>
    </main>
</div>

<form id="form-search" asp-page="/Search" method="get"></form>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

@* Add here global Vue.js components files. Components used in pages should not be added here *@
<script src="~/js/VueComponents/audioAttachmentComponent.js"></script>
<script src="~/js/VueComponents/audiosFeedBottomSheet.js"></script>
<script src="~/js/VueComponents/quickSearchComponent.js"></script>

@* This scripts are added only for specific pages *@
@await RenderSectionAsync("Scripts", required: false)

<script src="~/js/VueComponents/page/global.js"></script>

<script>
document.getElementById("app").style.height = `${window.innerHeight}px`;
window.onresize = function() {
    document.getElementById("app").style.height = `${window.innerHeight}px`;
}
</script>
</body>
</html>