@using Isolaatti.Config
@using Isolaatti.isolaatti_lib
@using Isolaatti.Services
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Hosting
@using Microsoft.Extensions.Options
@inject IWebHostEnvironment _environment
@inject ServerRenderedAlerts _RenderedAlerts
@inject IOptions<Servers> _servers
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] | Isolaatti</title>
    <!--This is bootstrap sass files compiled with variables changed to create the isolaatti theme-->
    <link rel="stylesheet" href="https://recursos-estaticos.isolaatti.com/css/custom-bootstrap.css"/>
    <link rel="stylesheet" href="~/css/isolaatti.css"/>
    <link rel="stylesheet" href="~/css/search-box.css"/>

    <link rel="shortcut icon" href="~/favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="~/favicon-192.png">
    <link rel="icon" type="image/png" sizes="160x160" href="~/favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="~/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon-16.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/themes/prism.min.css">
    
    @RenderSection("CSS", required: false)
    
    @*Server defined constants*@
    <script>
    const userData = {id:@ViewData["userId"],name:"@ViewData["name"]",email:"@ViewData["email"]"};
    const sessionToken = '@Html.Raw(Context.Request.Cookies["isolaatti_user_session_token"])';
    const clientId = "@Guid.NewGuid()";
    const customHttpHeaders = new Headers();
    customHttpHeaders.append("sessionToken",sessionToken);
    customHttpHeaders.append("Content-Type", "application/json")
    customHttpHeaders.append("client-id", clientId)
    </script>
</head>
<body>

      

@* All the content of this div with id app can host Vue.js components. Do not create new instances of Vue.js inside *@
<div id="app" class="position-relative overflow-hidden">
    <div id="backdrop" v-if="renderBackdrop" v-on:click="onBackdropClick"></div>

    <section class="notifications-stack" id="notifications">

    </section>

           @* Server rendered alerts *@
            @foreach (var (key, value) in _RenderedAlerts.Alerts)
            {
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-@key alert-dismissible">
                            @value
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
            }
            <nav class="d-flex custom-nav sticky-top pr-2 pl-2" id="isolaatti-top-bar">
                <a href="/" class="nav-link custom-nav-link mr-md-auto" id="isolaatti_brand" v-show="!showingMobileSearch"></a>
                <div class="container-md container-fluid" id="top-bar-content">
    
                    <div class="d-flex w-100 align-items-center">
                        <button class="btn nav-link custom-nav-link mr-auto ml-1 mobile-only" v-show="!showingMobileSearch" v-on:click="toggleTopBarShowMenu">
                            <i class="fa-solid fa-bars"></i>
                        </button>
                        <button class="btn mobile-only custom-nav-link disappear-on-search" v-show="showingMobileSearch" v-on:click="closeMobileSearch"><i class="fa-solid fa-xmark"></i></button>
                        <quick-search :class="{'desktop-only':!showingMobileSearch}"></quick-search>
                        <button class="btn mobile-only custom-nav-link disappear-on-search" v-show="!showingMobileSearch" v-on:click="mobileSearchToggle"><i class="fa-solid fa-magnifying-glass"></i></button>
                        <a class="btn custom-nav-link mr-1 ml-1 desktop-only" type="button" asp-page="/Squads">
                            <i class="fa-solid fa-people-group"></i>
                        </a>
    
                        <div class="dropdown" v-show="!showingMobileSearch">
                            <a class="nav-link custom-nav-link mr-1 dropdown-toggle"
                               href="#"
                               role="button"
                               id="dropdownNotificationsMenuLink"
                               aria-haspopup="true" aria-expanded="false"
                               data-toggle="dropdown">
                                
                                <span class="fa-layers fa-fw">
                                    <i class="fas fa-bell"></i>
                                </span>
                            </a>
                            <div class="dropdown-menu" v-show="!showingMobileSearch">
                                <div class="dropdown-header">
                                    Notificaciones
                                </div>
                                <div class="dropdown-divider"></div>
                                <a asp-page="/Notifications" class="dropdown-item">
                                    Ver todo
                                </a>
                            </div>
                        </div>
    
                        <div class="dropdown" v-show="!showingMobileSearch">
                            <a class="nav-link custom-nav-link nav-link mr-1 dropdown-toggle"
                               href="#"
                               role="button"
                               id="dropdownMenuLink"
                               data-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">
                                @if (ViewData["profilePicUrl"] == null)
                                {
                                    <i class="fas fa-user-circle"></i>
                                }
                                else
                                {
                                    <img width="40" height="40" src="@ViewData["profilePicUrl"]" class="user-avatar"/>
                                }
                            </a>
                            <div class="dropdown-menu dropdown-menu-right"
                                 aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-header">
                                    @ViewData["name"]
                                </div>
                                <div class="dropdown-divider"></div>
                                <a asp-page="/MyProfile"
                                   class="dropdown-item">
                                    @if (ViewData["profilePicUrl"] == null)
                                    {
                                        <i class="fas fa-user-circle"></i>
                                    }
                                    else
                                    {
                                        <img width="40" height="40" src="@ViewData["profilePicUrl"]" class="user-avatar"/>
                                    }
                                    Mi perfil
                                </a>
                                <a class="dropdown-item"
                                   asp-page="/Settings">
                                    <i class="fas fa-cog"></i>Ajustes
                                </a>
                                <a class="dropdown-item"
                                   href="https://isolaattisoftware.com.mx/isolaatti"
                                   target="_blank">
                                    <i class="fas fa-info"></i>Acerca de
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item"
                                   href="/WebLogOut">
                                    <i class="fas fa-sign-out-alt"></i>@Languages.Spanish[Languages.SignOut]
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <section class="mobile-only" v-if="showTopBarMobileMenu">
                <div class="d-flex flex-column">
                    
                    <a class="btn" type="button" asp-page="/Squads">
                        <i class="fa-solid fa-people-group"></i> Squads
                    </a>
                </div>
            </section>
    <main style=" overflow: auto;" id="app-main">
        <noscript>
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-lg-3"></div>
                    <div class="col-md-8 col-lg-6">
                        <div class="d-flex flex-column p-4">
                            <h1 class="display-1"><i class="fa-brands fa-js"></i></h1>
                            <h2>Esta aplicación necesita JavaScript. Por favor, habilítalo.</h2>
                            <h3>¿Por qué deberías habilitarlo?</h3>
                            <p>
                                JavaScript es un lenguaje de programación que se ejecuta en tu navegador.
                                En esta aplicación se utiliza para darte una experiencia mucho mejor que simples enlaces entre páginas.
                                Permite esas operaciones asíncronas, por ejemplo, que des clic en el botón de like sin que la página refresque.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-3"></div>
                </div>
            </div>
        </noscript>
        <div class="p-0" style="margin-bottom: 200px">@RenderBody()</div>
            <footer class="mt-auto p-1">
                <p class="text-center">
                    <span class="isolaatti-name-footer">Isolaatti</span>
                    hecho con <i class="fas fa-heart" style="color: red"></i> por <em>Erik Cavazos</em>, 2020 - 2023
                </p>
                <p class="text-center footer-font-color font-weight-lighter">
                    <a href="https://github.com/Isolaatti-Software/IsolaattiWebsite" class="link">Código fuente</a>
                    <a href="https://play.google.com/store/apps/details?id=com.erik.isolaatti" class="link">App</a>
                    <a href="https://isolaattisoftware.com.mx/isolaatti" class="link">Acerca de</a>
                    <a asp-page="/s/Legal/PrivacyPolicy" class="link">Política de privacidad y cookies</a>
                    <a asp-page="/s/Legal/TermsOfUse" class="link">Términos de uso</a>
                    <a href="https://ayuda.isolaatti.com/" class="link">Ayuda</a>
                    <a href="https://blog.isolaattisoftware.com.mx/" target="_blank" class="link">Blog</a>
                </p>
                <p class="text-center text-white-50">
        
                </p>
            </footer>
    </main>
    <div class="d-flex justify-content-center">
        <audio-player></audio-player>
    </div>
</div>

<form id="form-search" asp-page="/Search" method="get"></form>
<script src="https://kit.fontawesome.com/fde197fc03.js" crossorigin="anonymous"></script>
<script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/components/prism-core.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/plugins/autoloader/prism-autoloader.min.js"></script>

@if (_environment.IsDevelopment())
{
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.js"></script>
}
else
{
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8"></script>
    <script src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.min.js"></script>
}
<script>const events = new Vue();</script>
<script>const realtimeServer = "@_servers.Value.RealtimeServerUrl"</script>
@* This script exposes socket variable, which is globally accessible *@
<script src="~/js/realtime-notifications.js"></script>
<script src="~/js/audioService.js"></script>

@* Add here global Vue.js components files. Components used in pages should not be added here *@
<script src="~/js/VueComponents/audioPlayerComponent.js"></script>
<script src="~/js/VueComponents/audioAttachmentComponent.js"></script>
<script src="~/js/VueComponents/quickSearchComponent.js"></script>

@* This scripts are added only for specific pages *@
@await RenderSectionAsync("Scripts", required: false)

<script>
const renderRouter = "@((bool?)ViewData["squadsRouter"] ?? false)" === "True";
</script>
<script src="~/js/VueComponents/page/global.js"></script>
<script>
document.getElementById("app").style.height = `${window.innerHeight}px`;
window.onresize = function() {
    document.getElementById("app").style.height = `${window.innerHeight}px`;
}
</script>
</body>
</html>