@page
@model isolaatti_API.Pages.admin.AdminPortal

@{
    Layout = "Shared/_LayoutAdminPortal";
    ViewData["Title"] = "Inicio";
}

<div class="d-flex flex-column m-3">
    <h1 class="mt-4">Inicio</h1>
    <h4>Usuarios</h4>
    <div class="d-flex">
        <div class="card m-1 bg-dark text-white">
            <div class="card-header">
                Usuarios
            </div>
            <div class="card-body">
                <p>Número de usuarios: @ViewData["numeroDeUsuarios"]</p>
                <h5 class="card-title">Ultimos 5 usuarios</h5>
                <ul class="list-group">
                    @foreach (var user in Model.Last5Users)
                    {
                        <li class="list-group-item bg-dark text-white">
                            @user.Name<br>
                            <small>@user.Email</small>
                        </li>
                    }
                </ul>
            </div>
            <div class="card-footer">
                <a asp-page="/admin/ListUsers">Buscar usuario</a>
            </div>
        </div>
        <div class="card m-1 bg-dark text-white">
            <div class="card-header">
                Proyectos
            </div>
            <div class="card-body">
                <p>Número de proyectos: @ViewData["numeroDeProyectos"]</p>
            </div>
            <div class="card-footer">
                <a href="#">Buscar proyectos</a>
            </div>
        </div>
        <div class="card m-1 bg-dark text-white">
            <div class="card-header">
                Publicaciones
            </div>
            <div class="card-body">
                <p>Número de publicaciones: @ViewData["numeroDePublicaciones"]</p>
            </div>
            <div class="card-footer">
                <a href="#">Buscar publicaciones</a>
            </div>
        </div>
    </div>
    <h4 class="mt-2">Servicio demucs (autorizaciones no implementadas aun)</h4>
    <div class="d-flex">
        <div class="card bg-dark text-white">
            <div class="card-header">
                Colaboradores autorizados
            </div>
            <div class="card-body">
                <p>Numero de colaboradores autorizados</p>
                <p>
                    <a href="#">Crear autorización</a>
                </p>
            </div>
            <div class="card-header">
                <a href="#">Ver autorizaciones</a>
            </div>
        </div>
    </div>
    <h4 class="mt-4">Accesos API (control no implementado aun)</h4>
    <div class="d-flex">
        <div class="card bg-dark text-white">
            <div class="card-header">
                Claves autorizadas
            </div>
            <div class="card-body">
                <p>Numero de desarrolladores autorizados</p>
                <p>
                    <a href="#">Crear clave de API</a>
                </p>
            </div>
            <div class="card-header">
                <a href="#">Ver claves</a>
            </div>
        </div>
    </div>
</div>