@page
@model isolaatti_API.Pages.admin.Reports

@{
    Layout = "Shared/_LayoutAdminPortal";
    ViewData["Title"] = "Reportes";
}
<div class="row">
    <div class="col-12">
        @if ((string)ViewData["status"] == "successfully_deleted")
        {
            <div class="alert alert-success">
                ¡Se eliminó correctamente el contenido!
            </div>
        }
        @if ((string) ViewData["status"] == "entity_not_found")
        {
            <div class="alert alert-danger">
                ¡No se encontró el contenido a eliminar!
            </div>
        }
        <h1 class="mt-4">Reportes</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <ul class="nav flex-column nav-pills">
            <li class="nav-item">
                <a href="#posts" class="nav-link active" data-toggle="tab">Publicaciones</a>
            </li>
            <li class="nav-item">
                <a href="#comments" class="nav-link" data-toggle="tab">Comentarios</a>
            </li>
        </ul>
    </div>
    <div class="col-md-9">
        <div class="tab-content">
            <div class="tab-pane active" id="posts">
                <p>Publicaciones</p>
                <ul class="list-group">
                    @foreach (var postReport in Model.PostReports)
                    {
                        <li class="list-group-item bg-primary">
                            <p>Id de la publicación: @postReport.PostId</p>
                            <p>Categoria: @postReport.Category</p>
                            <p>Mensaje: @postReport.UserReason</p>
                            <a asp-page="/admin/Tools/ViewContent" asp-route-postId="@postReport.PostId" target="_blank" class="text-white-50">Ver post</a>
                            <form method="post" asp-controller="DeletePost" asp-action="Index">
                                <button type="submit" class="btn btn-danger">Eliminar publicación</button>
                                <input type="hidden" name="postId" value="@postReport.PostId"/>
                            </form>
                        </li>
                    }
                </ul>
            </div>
            <div class="tab-pane" id="comments">
                <p>Comentarios</p>
                <ul class="list-group">
                    @foreach (var commentReport in Model.CommentReports)
                    {
                        <li class="list-group-item bg-primary">
                            <p>Id de la publicación: @commentReport.CommentId</p>
                            <p>Categoria: @commentReport.Category</p>
                            <p>Mensaje: @commentReport.UserReason</p>
                            <a asp-page="/admin/Tools/ViewContent" asp-route-commentId="@commentReport.CommentId" target="_blank" class="text-white-50">Ver comentario</a>
                            <form method="post" asp-controller="DeletePost" asp-action="Comment">
                                <button type="submit" class="btn btn-danger">Eliminar publicación</button>
                                <input type="hidden" name="commentId" value="@commentReport.CommentId"/>
                            </form>

                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>