@page
@using isolaatti_API.Models
@using Microsoft.EntityFrameworkCore
@model isolaatti_API.Pages.admin.UsersUsageData

@{
    Layout = "Shared/_LayoutAdminPortal";
    ViewData["Title"] = "Users usage data";
}
<h1 class="mt-4">Users' usage data</h1>
<p>This table shows how many clicks the users have made</p>
<table class="table table-dark">
    <thead>
    <tr>
        <th>User ID</th>
        <th>Drums</th>
        <th>Bass</th>
        <th>Vocals</th>
        <th>Other</th>
    </tr>
    </thead>
    <tbody>
    @foreach (UserUsageData data in Model._usageData)
    {
        <tr>
            <td>@data.UserId</td>
            <td>@data.SoloOnDrums</td>
            <td>@data.SoloOnBass</td>
            <td>@data.SoloOnVocals</td>
            <td>@data.SoloOnOther</td>
        </tr>
    }
    </tbody>

</table>