@page
@using Microsoft.Extensions.Hosting
@model isolaatti_API.Pages.Songs

@{
    Layout = "Shared/_LayoutWebApp";
    ViewData["Title"] = "Music demixer";
}
<div class="col-lg-3">
    <section id="new-project-area" class="d-flex flex-column mt-2 mb-3 flat-card-dark">
        <h5>New project</h5>
        <p>Upload an audio file and get "Drums", "Bass", "Vocals" and "Others". You can record your tracks and add them later</p>
        <a class="btn btn-primary" asp-page="NewProject">Create new project</a>
    </section>
    <section class="d-flex flex-column mt-2 mb-3 flat-card-dark">
        <h5>Files on queue</h5>
        <p>Manage your files on queue. You might want to remove some to prioritize cartain file.</p>
        <a asp-page="OnQueue" class="btn-primary btn">On queue</a>
    </section>
</div>
<div class="col-lg-9">
    <section class="d-flex flex-column mt-2 mb-3 flat-card-dark">
        <h5>Your projects</h5>
        @if (Model.SongsBeingProcessedList.Any())
        {
            <hr>
            <h2>Processing now</h2>
            <table class="table table-responsive-sm table-borderless bg-dark text-white">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Artist</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var song in Model.SongsBeingProcessedList)
                {
                    <tr>
                        <td>
                            @song.OriginalFileName
                        </td>
                        <td>@song.Artist</td>
                        <td>
                            <div class="spinner-border" role="status">
                                <span class="sr-only">Processing...</span>
                            </div>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            <hr>
        }
        @if (Model.SongsList.Count().Equals(0))
        {
            <p class="m-5 text-center">You don't have any project. <a asp-page="NewProject">Create one</a></p>
        }
        else
        {
            if (Model.SongsBeingProcessedList.Any())
            {
                <h2>Available songs</h2>
            }
            <div class="d-flex flex-wrap justify-content-around">
               @foreach (var song in Model.SongsList)
               {
                   <div class="song-item">
                       <div class="d-flex justify-content-end pr-1 pt-1">
                           <button class="btn btn-link text-white-50" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></button>
                           <div class="dropdown-menu">
                               <a class="dropdown-item" href="#modifySongInfoModal" data-toggle="modal" data-id="@song.Id" data-name="@song.OriginalFileName" data-artist="@song.Artist">Edit details</a>
                               <a class="dropdown-item" href="#shareSongModal" data-toggle="modal" data-songid="@song.Id" data-songname="@song.OriginalFileName" data-artist="@song.Artist">Share</a>
                               <a class="dropdown-item" href="javascript:deleteSong(@song.Id);">Delete</a>
                               <div class="dropdown-divider"></div>
                               <a class="dropdown-item" asp-page="DownloadProject" asp-route-id="@song.Id">Download tracks</a>
                           </div>
                       </div>
                       <a asp-page="Play" asp-route-id="@song.Id">
                           <div class="song-item-icon">
                               <i class="fas fa-music"></i>
                           </div>
                           <div class="d-flex flex-column small mr-1 ml-1 text-white">
                               <span>@song.OriginalFileName</span>
                               <span>@song.Artist</span>
                           </div>
                       </a>
                   </div>
                   
               }
            </div>
            
        }
    </section>

</div>

@*Edit song info modal*@
<div class="modal fade" id="modifySongInfoModal" tabindex="-1" aria-labelledby="modifying information of song" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark text-white">
            <div class="modal-header">
                <h5 class="modal-title">Edit song information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="modal-song-id">
                    <div class="form-group">
                        <label for="song-name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="song-name" required>
                    </div>
                    <div class="form-group">
                        <label for="song-artist" class="col-form-label">Artist:</label>
                        <input type="text" class="form-control" id="song-artist" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="modal-button-modify">Modify</button>
            </div>
        </div>
    </div>
</div>
@*Share song modal*@
<div class="modal fade" id="shareSongModal" tabindex="-1" aria-labelledby="sharing song" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark text-white">
            <div class="modal-header">
                <h5 class="modal-title">Share song</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="share-modal-song-info"></p>
                <p>Use this link to share this project. Anyone will be able to access, even without an account!</p>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="share-link-field" disabled>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="modal-button-copy-to-clipboard">Copy to clipboard</button>
            </div>
        </div>
    </div>
</div>
<script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-storage.js"></script>


@section Scripts
{
    @if (Model.Environment.IsDevelopment())
    {
        <script>
      // Your web app's Firebase configuration
      // For Firebase JS SDK v7.20.0 and later, measurementId is optional
      var firebaseConfig = {
        apiKey: "AIzaSyDZHVXLR_1imwVb2mCArnYpdbNx6XUPZBQ",
        authDomain: "isolaatti-b6641.firebaseapp.com",
        databaseURL: "https://isolaatti-b6641.firebaseio.com",
        projectId: "isolaatti-b6641",
        storageBucket: "isolaatti-b6641.appspot.com",
        messagingSenderId: "556033448926",
        appId: "1:556033448926:web:35759afc37d6a1585b1b4f",
        measurementId: "G-JQV4WX75RK"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
      var storage = firebase.storage();
    </script>
    }
    else
    {
        <script>
        var firebaseConfig={apiKey:"AIzaSyDZHVXLR_1imwVb2mCArnYpdbNx6XUPZBQ",authDomain:"isolaatti-b6641.firebaseapp.com",databaseURL:"https://isolaatti-b6641.firebaseio.com",projectId:"isolaatti-b6641",storageBucket:"isolaatti-b6641.appspot.com",messagingSenderId:"556033448926",appId:"1:556033448926:web:35759afc37d6a1585b1b4f",measurementId:"G-JQV4WX75RK"};firebase.initializeApp(firebaseConfig);var storage=firebase.storage();
        </script>
    }
    <script src="~/js/songs.js"></script>
    <script src="~/js/collection.js"></script>
}