@page
@model isolaatti_API.Pages.WebApp.Profile

@{
    Layout = "Shared/_LayoutWebApp";
    ViewData["Title"] = ViewData["name"] + " profile";
}

<div class="col-lg-3 col-md-2"></div>
<div class="col-lg-6 col-md-8">

    @if ((bool) ViewData["profile_updated"])
    {
        <div class="alert alert-info">Profile updated successfully</div>
    }
    @if ((bool) ViewData["nameNotAvailable"])
    {
        <div class="alert alert-warning"><strong>@ViewData["statusData"]</strong> is not available</div>
    }
    @if ((bool) ViewData["emailNotAvailable"])
    {
        <div class="alert alert-warning"><strong>@ViewData["statusData"]</strong> is not available</div>
    }
    <div class="d-flex justify-content-center">
        <h1 class="display-1">
            <i class="fas fa-user"></i>
        </h1>
    </div>
    <nav class="d-flex justify-content-end">
        <button class="btn btn-primary btn-sm" id="edit-profile-button">Edit profile</button>
    </nav>
    <h2>@ViewData["name"]</h2>
    <h3>@ViewData["email"]</h3>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link disabled" id="stats_tab" data-toggle="tab" href="#stats_pane" role="tab" aria-controls="home" 
               aria-selected="true">Stats</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" id="shared-links_tab" data-toggle="tab" href="#shared-links_pane" role="tab" aria-controls="shared links" 
               aria-selected="true">Shared links</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="password_tab" data-toggle="tab" href="#password_pane" role="tab" aria-controls="my password" 
               aria-selected="true">Password</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade" id="stats_pane">
            @* Write here stats *@
        </div>
        <div class="tab-pane fade show active" id="shared-links_pane">
            @* Write here shared links table *@
            <ul class="list-group">
                @foreach (var share in Model.Shares)
                {
                    <li class="list-group-item list-group-item-dark">
                        <div class="d-flex flex-column">
                            <h5 class="mb-1">@share.Name - @share.Artist</h5>
                            <p>Link: <a href="@share.Url">@share.Url</a></p>
                            <div class="d-flex justify-content-between">
                                <div class="d-flex">
                                    <div class="btn-group">
                                        <button type="button" 
                                                onclick="copyLinkToClipboard(this,'@share.Url')" 
                                                class="btn btn-light btn-sm" title="Copy to clipboard">
                                            <i class="fas fa-link"></i>
                                        </button>
                                        <button type="button" class="btn btn-light btn-sm" title="Share on Facebook">
                                            <i class="fab fa-facebook"></i>
                                        </button>
                                        <button type="button" class="btn btn-light btn-sm" title="Share on Twitter">
                                            <i class="fab fa-twitter-square"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <button type="button" class="btn btn-sm btn-danger" title="Delete link" onclick="deleteShare('@share.Uid')">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li>
                }
                
            </ul>
            
        </div>
        <div class="tab-pane fade" id="password_pane">
            <h5>Change your password</h5>
            <p>After this process, you will be asked to log in again.</p>
            <form method="post">
                <input type="hidden" name="userId" value="@ViewData["userId"]">
                <div class="form-group">
                    <label for="current_password_field">Current password</label>
                    <input type="password" name="current_password" class="form-control" 
                           id="current_password_field" required autocomplete="false">
                    <div class="invalid-feedback">
                        Current password is not correct, Try again.
                    </div>
                </div>
                <div class="form-group">
                    <label>New password</label>
                    <input type="password" name="new_password" class="form-control" 
                           id="new_password_field" required autocomplete="false">
                </div>
                <div class="form-group">
                    <label for="new_password_conf_field">Confirm new password</label>
                    <input type="password" name="new_password_conf" class="form-control"
                           id="new_password_conf_field" required autocomplete="false">
                </div>
                <button type="submit" class="btn btn-primary">
                    Change
                </button>
            </form>
        </div>
    </div>
</div>
<div class="col-lg-3 col-md-2"></div>

<!-- Modals -->
<div class="modal" id="modal-edit-profile">
    <div class="modal-dialog">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5 class="modal-title">Edit profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <form id="edit-profile-form" method="post" asp-controller="EditProfile" asp-action="FromWeb">
                    <div class="form-group">
                        <label for="edit-name-field">Name</label>
                        <input type="text" id="edit-name-field" class="form-control" name="newUsername">
                    </div>
                    <div class="form-group">
                        <label for="edit-email-field">Email</label>
                        <input type="email" id="edit-email-field" class="form-control" name="newEmail">
                    </div>
                    <input type="hidden" name="id" value="@ViewData["id"]">
                    <input type="hidden" name="password" value="@ViewData["password"]">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" id="save-edited-profile" form="edit-profile-form">Save</button>
            </div>
        </div>
    </div>
</div>
@if (Model.PasswordIsWrong)
{
    <script>
    // show password pane because password was not correct
    document.addEventListener("DOMContentLoaded", function () {
        $("#password_tab").tab('show');
        document.querySelector("#current_password_field").classList.add("is-invalid");
    });
    </script>
}
@if (ViewData["profile_open"].Equals("password"))
{
    <script>
    document.addEventListener("DOMContentLoaded", function () {
        $("#password_tab").tab('show');
    });
    </script>
}
else if (ViewData["profile_open"].Equals("links"))
{
    <script>
    document.addEventListener("DOMContentLoaded", function () {
        $("#shared-links_tab").tab('show');
    });
    </script>
}
@section Scripts
{
    <script src="~/js/profile.js"></script>
}
