@page
@using isolaatti_API.Models
@model isolaatti_API.Pages.MyProfile

@{
    Layout = "Shared/_LayoutWebApp";
    ViewData["Title"] = ViewData["name"];
}

<div class="col-lg-2 col-md-3">
    <aside id="left-bar">
        <div class="d-flex justify-content-center mb-2">
            <div class="profile-pic">
                <i class="fas fa-user"></i>
            </div>
        </div>
        <p class="text-center m-0 overflow-auto">@ViewData["name"]</p>
        <nav class="d-flex justify-content-center">
            <button class="btn btn-primary btn-sm" id="edit-profile-button"
                    data-target="#modal-edit-profile" data-toggle="modal">
                Edit profile
            </button>
        </nav>
        <div class="d-flex flex-wrap mt-2">
            <div class="btn-group btn-group-sm">
                <a class="btn btn-link"
                   data-toggle="modal" href="#modal-followers">
                    Followers: <b>@ViewData["numberOfFollowers"]</b>
                </a>
                <a class="btn btn-link"
                   data-toggle="modal" href="#modal-following">
                    Following: <b>@ViewData["numberOfFollowing"]</b>
                </a>
            </div>
        </div>
        <div class="card">
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Likes 
                    <span class="badge badge-primary badge-pill">@ViewData["numberOfLikes"]</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Posts
                    <div class="badge badge-primary badge-pill">
                        @ViewData["numberOfPosts"]
                    </div>
                </li>
                <button class="list-group-item d-flex justify-content-between align-items-center" 
                        data-target="#modal-shared-links" data-toggle="modal">
                    Shared links
                    <div class="badge badge-primary badge-pill">
                        @Model.Shares.Count
                    </div>
                </button>
            </ul>
        </div>
    </aside>
</div>
<div class="col-lg-7 col-md-9">

    @if ((bool) ViewData["profile_updated"])
    {
        <div class="alert alert-info">Profile updated successfully</div>
    }
    @if ((bool) ViewData["nameNotAvailable"])
    {
        <div class="alert alert-warning"><strong>@ViewData["statusData"]</strong> is not available</div>
    }
    @if ((bool) ViewData["emailNotAvailable"])
    {
        <div class="alert alert-warning"><strong>@ViewData["statusData"]</strong> is not available</div>
    }
    
    <section id="your-posts-deposit" class="d-flex flex-column mt-3">
        <h5 class="m-3"><i class="far fa-newspaper"></i> Your posts</h5>
        <div id="vue-container">
            <div v-if="loading" class="d-flex justify-content-center mt-2">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading more content...</span>
                </div>
            </div>
            <div v-for="post in posts"
                 class="d-flex mb-2 flex-column p-2 post" :postid="post.id" :privacy="post.privacy"
                 :style="getPostStyle(post.themeJson)">
                <div class="d-flex justify-content-between align-items-center">
                    <span class="user-name">
                        <b>@ViewData["name"]</b>
                    </span>
                    <div class="d-flex">
                        <button class="mr-1 btn btn-link btn-sm" v-on:click="openEditPostModal(post)">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                        <button class="ml-1 btn btn-link btn-sm" v-on:click="openDeletePostModal(post)">
                            <i class="fas fa-trash"></i>
                        </button>
                    </div>
                </div>
                <div class="d-flex privacy-icon-container">
                    <i v-if="post.privacy === 1" class="fas fa-user" title="Only you"></i>
                    <i v-if="post.privacy === 2" class="fas fa-user-friends" title="People on Isolaatti"></i>
                    <i v-if="post.privacy === 3" class="fas fa-globe" title="All the world"></i>
                </div>
                <div class="d-flex mt-1" v-if="post.audioAttachedUrl!=null">
                    <button type="button" class="btn btn-primary btn-sm" v-on:click="playAudio(post.audioAttachedUrl)">
                        <i class="fas fa-play" v-if="post.audioAttachedUrl !== audioUrl || paused"></i>
                        <i class="fas fa-pause" v-else></i>
                    </button>
                </div>
                <div class="mt-2 post-content" v-html="compileMarkdown(post.textContent)"></div>
                <div class="d-flex justify-content-end">
                    <div class="btn-group btn-group-sm">
                        <a class="btn btn-dark btn-sm" :href="`/Threads/${post.id}`">
                            <i class="fas fa-comments"></i> {{post.numberOfComments}}
                        </a>
                        <button class="btn btn-dark btn-sm" type="button" v-if="!post.liked" v-on:click="likePost(post)">
                            <i class="fas fa-thumbs-up"></i> {{post.numberOfLikes}}
                        </button>
                        <button class="btn btn-primary btn-sm" type="button" v-if="post.liked" v-on:click="unLikePost(post)">
                            <i class="fas fa-thumbs-up"></i> {{post.numberOfLikes}}
                        </button>
                    </div>
                </div>
            </div>

            <!-- Modal edit post -->
            <div class="modal fade" id="modal-edit-post">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Edit post</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                &times;
                            </button>
                        </div>
                        <div class="modal-body">
                            <select class="custom-select mb-2" id="edit-post-privacy-selector" v-model="privacyEditPost">
                                <option value="1">Private</option>
                                <option value="2">People on Isolaatti</option>
                                <option value="3">Everyone</option>
                            </select>
                            <textarea class="form-control w-100" id="edit-post-modal-simple-post-textarea" 
                                    placeholder="Say something to your followers" rows="1" v-model="textareaEditPost"></textarea>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary mt-1" v-on:click="confirmPostModification">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Modal delete post -->
            <div class="modal fade" id="modal-delete-post">
                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Delete post</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                &times;
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete this post? This action cannot be undone</p>
                        </div>
                        <div class="modal-footer justify-content-end">
                            <button class="btn btn-secondary" data-dismiss="modal">No</button>
                            <button class="btn btn-primary" v-on:click="confirmPostDeletion">Yes</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>
<div class="col-lg-3"></div>

@* Add here Bootstrap modals *@
<!-- Modal edit profile -->
<div class="modal fade" id="modal-edit-profile">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <form id="edit-profile-form" method="post" asp-controller="EditProfile" asp-action="FromWeb">
                    <div class="form-group">
                        <label for="edit-name-field">Name</label>
                        <input type="text" id="edit-name-field" class="form-control" name="newUsername">
                    </div>
                    <div class="form-group">
                        <label for="edit-email-field">Email</label>
                        <input type="email" id="edit-email-field" class="form-control" name="newEmail">
                    </div>
                    <input type="hidden" name="id" value="@ViewData["id"]">
                    <input type="hidden" name="password" value="@ViewData["password"]">
                </form>
            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary mr-auto" id="password_btn" data-toggle="modal" href="#modal-password" aria-controls="my password"
                   aria-selected="true">
                    Change password
                </a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" id="save-edited-profile" form="edit-profile-form">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal shared links -->
<div class="modal fade" id="modal-shared-links">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Shared links</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                @* Write here shared links table *@
                <ul class="list-group">
                    @if (!Model.Shares.Any())
                    {
                        <div class="d-flex justify-content-center align-items-center" style="height: 350px">
                            <h6>You have not shared any project</h6>
                        </div>
                    }
                    @foreach (var share in Model.Shares)
                    {
                        <li class="list-group-item list-group-item-dark">
                            <div class="d-flex flex-column">
                                <h5 class="mb-1">@share.Name - @share.Artist</h5>
                                <p class="share-link-text">Link: <a href="@share.Url">@share.Url</a></p>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex">
                                        <div class="btn-group">
                                            <button type="button"
                                                    onclick="copyLinkToClipboard(this,'@share.Url')"
                                                    class="btn btn-light btn-sm" title="Copy to clipboard">
                                                <i class="fas fa-link"></i>
                                            </button>
                                            <button type="button" class="btn btn-light btn-sm" title="Share on Facebook">
                                                <i class="fab fa-facebook"></i>
                                            </button>
                                            <button type="button" class="btn btn-light btn-sm" title="Share on Twitter">
                                                <i class="fab fa-twitter-square"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <button type="button" class="btn btn-sm btn-danger" title="Delete link" onclick="deleteShare('@share.Uid')">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Modal change password -->
<div class="modal fade" id="modal-password">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Change password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <h5>Change your password</h5>
                <p>After this process, you will be asked to log in again.</p>
                <form method="post" id="change-password-form">
                    <input type="hidden" name="userId" value="@ViewData["userId"]">
                    <div class="form-group">
                        <label for="current_password_field">Current password</label>
                        <input type="password" name="current_password" class="form-control"
                               id="current_password_field" required autocomplete="false">
                        <div class="invalid-feedback">
                            Current password is not correct, Try again.
                        </div>
                    </div>
                    <div class="form-group">
                        <label>New password</label>
                        <input type="password" name="new_password" class="form-control"
                               id="new_password_field" required autocomplete="false">
                    </div>
                    <div class="form-group">
                        <label for="new_password_conf_field">Confirm new password</label>
                        <input type="password" name="new_password_conf" class="form-control"
                               id="new_password_conf_field" required autocomplete="false">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary ml-auto" data-dismiss="modal">
                    Close
                </button>
                <button type="submit" class="btn btn-primary" form="change-password-form">
                    Change
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal followers -->
<div class="modal fade" id="modal-followers">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Followers</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <div class="profiles-list-container">
                    @if (!Model.Followers.Any())
                    {
                        <p class="m-3">
                            Nobody is following you. You can start follwing someone so that you become known.
                        </p>
                    }
                    @foreach (User user in Model.Followers)
                    {
                        <a class="user-profile-card"
                           asp-page="Profile" asp-route-id="@user.Id">
                            <div class="profile-pic">
                                <i class="fas fa-user"></i>
                            </div>
                            <h6>@user.Name</h6>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal following -->
<div class="modal fade" id="modal-following">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Following</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <div class="profiles-list-container">
                    @if (!Model.Following.Any())
                    {
                        <p class="m-3">
                            You are not following anyone.
                        </p>
                    }
                    @foreach (User user in Model.Following)
                    {
                        <a class="user-profile-card" asp-page="Profile" asp-route-id="@user.Id">
                            <div class="profile-pic">
                                <i class="fas fa-user"></i>
                            </div>
                            <h6>@user.Name</h6>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.PasswordIsWrong)
{
    <script>
    // show password pane because password was not correct
    document.addEventListener("DOMContentLoaded", function () {
        $("#password_tab").tab('show');
        document.querySelector("#current_password_field").classList.add("is-invalid");
    });
    </script>
}
@if (ViewData["profile_open"].Equals("password"))
{
    <script>
    document.addEventListener("DOMContentLoaded", function () {
        $("#modal-password").modal('show');
    });
    </script>
}
else if (ViewData["profile_open"].Equals("links"))
{
    <script>
    document.addEventListener("DOMContentLoaded", function () {
        $("#modal-shared-links").modal('show');
    });
    </script>
}

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    
    <script src="~/js/my_profile.js"></script>
}