@page
@model isolaatti_API.Pages.Profile

@{
    Layout = "Shared/_LayoutWebApp";
    ViewData["Title"] = ViewData["profile_name"];
}


<div class="col-lg-3 col-md-2"></div>
<div class="col-lg-6 col-md-8">
    <nav class="d-flex flex-column justify-content-center mt-3 mb-4 p-3 rounded-border-black black-box-shadow">
        <div class="d-flex justify-content-center">
            <div class="profile-pic">
                <i class="fas fa-user"></i>
            </div>
        </div>
        <h2 class="text-center">@ViewData["profile_name"]</h2>
        <h5 class="text-center">@ViewData["profile_email"]</h5>
        <div class="d-flex justify-content-between">
            <div class="d-flex flex-nowrap overflow-auto">
                <span class="text-white text-center mb-2 p-2 mr-1 badge badge-pill badge-info">
                    Followers: <b>@ViewData["numberOfFollowers"]</b>
                </span>
                <span class="text-white text-center mb-2 p-2 mr-1 badge badge-pill badge-info">
                    Following: <b>@ViewData["numberOfFollowing"]</b>
                </span>
                @if ((bool) ViewData["thisUserIsFollowingMe"])
                {
                    <span class="text-white text-center mb-2 p-2 mr-1 badge badge-pill badge-success">
                        <i class="fas fa-user-friends"></i> Follows you
                    </span>
                }
            </div>
            <div class="d-flex flex-nowrap overflow-auto">
                <span class="text-white text-center mb-2 p-2 mr-1 badge badge-pill badge-info">
                    Likes
                </span>
                <span class="text-white text-center mb-2 p-2 mr-1 badge badge-pill badge-info">
                    Posts
                </span>
            </div>
        </div>
        <div class="d-flex">
            @if ((bool) ViewData["followingThisUser"])
            {
                <button class="btn btn-primary btn-sm mb-2 w-100" id="followButton">Unfollow <i class="fas fa-times"></i></button>
            }
            else
            {
                <button class="btn btn-primary btn-sm mb-2 w-100" id="followButton">Follow <i class="fas fa-check"></i></button>
            }
        </div>
    </nav>
    <h5>Public projects</h5>
    <section id="public-projects-section" class="d-flex black-box-shadow rounded-border-black mb-4 align-items-center justify-content-center" style="height: 200px">
        <h5 class="m-2">This will be available very soon</h5>
    </section>
    <h5>Posts</h5>
    <section class="d-flex flex-column">
        @if (!Model.Posts.Any())
        {
            <h5 class="m-2 text-center">@ViewData["profile_name"] does not have any public post</h5> 
        }
        @foreach (var post in Model.Posts)
        {
            <div class="d-flex mb-2 rounded-border-black flex-column p-2 post">
                <div class="d-flex justify-content-between align-items-center">
                    <span class="user-name"><b>@ViewData["profile_name"]</b></span>
                </div>
                <div class="d-flex privacy-icon-container">
                    @if (post.Privacy == 2)
                    {
                        <i class="fas fa-user-friends" title="People on Isolaatti"></i>
                    }
                    else if (post.Privacy == 3)
                    {
                        <i class="fas fa-globe" title="All the world"></i>
                    }
                </div>
                <p class="mt-2 post-content">@post.TextContent</p>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-dark btn-sm" type="button">
                        <i class="fas fa-comments"></i> {_}
                    </button>
                    <button class="btn btn-dark btn-sm" type="button">
                        <i class="fas fa-thumbs-up"></i> @post.NumberOfLikes
                    </button>
                </div>
            </div>
        }
    </section>
</div>
<div class="col-lg-3 col-md-2"></div>

@section Scripts
{
    <script>
    let thisProfileId = @ViewData["profile_id"];
    let thisUserIsFollowingMe = "@ViewData["thisUserIsFollowingMe"]" === "True";
    let followingThisUser = "@ViewData["followingThisUser"]" === "True";
    </script>
    <script src="~/js/profile.js"></script>
}
