@page "/perfil/{id}"
@using isolaatti_API.Models
@using isolaatti_API.Utils
@model isolaatti_API.Pages.Profile

@{
    Layout = "Shared/_LayoutWebApp";
    ViewData["Title"] = ViewData["profile_name"];
}

@section CSS
{
    <script>const pageTitle = "@ViewData["profile_name"]"</script>
}

<!-- Modal followers -->
<div class="modal fade" id="modal-followers">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Seguidores</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <div class="profiles-list-container">
                    @if (!Model.Followers.Any())
                    {
                        <p class="m-3">
                            Esta cuenta no tiene seguidores. Puedes ser su primer seguidor.
                        </p>
                    }
                    @foreach (User user in Model.Followers)
                    {
                        <a class="user-profile-card"
                           asp-page="Profile" asp-route-id="@user.Id">
                            <img src='@UrlGenerators.GenerateProfilePictureUrl(user.Id, (string)ViewData["sessionToken"])'
                                 width="100" height="100" class="profile-pic mt-3"/>
                            <h6>@user.Name</h6>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal following -->
<div class="modal fade" id="modal-following">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Siguiendo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <div class="profiles-list-container">
                    @if (!Model.Following.Any())
                    {
                        <p class="m-3">
                            Esta cuenta no sigue a nadie. Tal vez tú puedas ser la primera persona que siga.
                        </p>
                    }
                    @foreach (User user in Model.Following)
                    {
                        <a class="user-profile-card" asp-page="Profile" asp-route-id="@user.Id">
                            <img src='@UrlGenerators.GenerateProfilePictureUrl(user.Id, (string)ViewData["sessionToken"])'
                                 width="100" height="100" class="profile-pic mt-3"/>
                            <h6>@user.Name</h6>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-2 col-md-4 p-0">
    <header id="left-bar" class="p-2" style="background: linear-gradient(@Model.ProfileColor 5%, white)">
        <div class="d-flex justify-content-center align-items-center flex-column mt-3" id="profile_photo_container">
            <img src="@Model.ProfilePhotoUrl" width="100" height="100" class="profile-pic" id="profile_photo_el" ref="profilePictureElement"
                 data-target="#modal-view-image" data-toggle="modal" data-url="@Model.ProfilePhotoUrl" data-userid="@ViewData["profile_id"]"/>
            <button id="play-audio-description-btn" v-on:click="playAudioDescription" v-if="audioDescriptionUrl !== null" v-html="audioDescriptionButtonInnerText"></button>
            <div id="online-dot"></div>
        </div>
        <div class="translucent-white-card" style="margin-top: 30px;">
            <p class="text-center m-0 overflow-auto text-break username-profile">@ViewData["profile_name"]</p>
            @if ((bool)ViewData["showEmail"])
            {
                <p class="text-center m-0 overflow-auto text-break">
                    @ViewData["profile_email"]
                </p>
            }
            <p class="text-center text-break">@ViewData["description"]</p>
            <div class="d-flex mt-2 flex-column">
                <div class="btn-group btn-group-sm">
                    <a class="btn btn-link"
                       data-toggle="modal" href="#modal-followers">
                        Seguidores: <b>@ViewData["numberOfFollowers"]</b>
                    </a>
                    <a class="btn btn-link"
                       data-toggle="modal" href="#modal-following">
                        Siguiendo: <b>@ViewData["numberOfFollowing"]</b>
                    </a>
                </div>
                @if ((bool)ViewData["thisUserIsFollowingMe"])
                {
                    <span class="text-center mb-2 p-2 mr-1 badge badge-pill badge-success">
                        <i class="fas fa-user-friends"></i> Te sigue
                    </span>
                }
                <div class="card">
                    <div class="list-group list-group-flush">
                        <a asp-page="/Likes" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            Likes
                            <div>
                                <span class="badge badge-primary badge-pill">@ViewData["numberOfLikes"]</span>
                                <span class="badge badge-primary badge-pill">@ViewData["numberOfLikesGiven"]</span>
                            </div>
                        </a>
                        <a asp-page="/Likes" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            Respuestas
                            <div>
                                <span class="badge badge-primary badge-pill">@ViewData["numberOfComments"]</span>
                                <span class="badge badge-primary badge-pill">@ViewData["numberOfCommentsGiven"]</span>
                            </div>
                        </a>
                        <a class="list-group-item d-flex justify-content-between align-items-center">
                            Discusiones
                            <div class="badge badge-primary badge-pill">
                                @ViewData["numberOfPosts"]
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="d-flex mt-1">
                @if ((bool)ViewData["followingThisUser"])
                {
                    <button class="btn btn-light btn-sm mb-2 w-100" id="followButton">Dejar de seguir <i class="fas fa-times"></i></button>
                }
                else
                {
                    <button class="btn btn-light btn-sm mb-2 w-100" id="followButton">Seguir <i class="fas fa-check"></i></button>
                }
            </div>
            <div style="height: 10px"></div>
        </div>
    </header>
</div>
<div class="col-lg-10 col-md-6" id="vue-container">
    <section class="mt-3 d-flex flex-column" id="your-posts-deposit">
        @if ((bool)ViewData["no-redirect"])
        {
            <div class="alert alert-info">Te encuentras viendo tu perfil como se ve desde afuera</div>
        }
        <div class="sticky-top bg-white w-100 d-flex justify-content-center pt-1 mt-3 max-640">

            <div class="btn-group">
                <button class="btn btn-light" :disabled="currentSection==='discussions'"
                        v-on:click="currentSection='discussions'">
                    <i class="far fa-newspaper"></i> Discusiones
                </button>
                <button class="btn btn-light" :disabled="currentSection==='audios'"
                        v-on:click="currentSection='audios'">
                    <i class="fa-solid fa-ear-listen"></i> Audios
                </button>
                <button class="btn btn-light" :disabled="currentSection==='profile-pictures'"
                        v-on:click="currentSection='profile-pictures'">
                    <i class="fa-solid fa-image"></i> Fotos de perfil
                </button>
            </div>
        </div>
        <posts-list :user-id="accountData.userId" v-if="currentSection==='discussions'" class="max-640"></posts-list>
        <audios-list :user-id="accountData.userId" v-if="currentSection==='audios'" class="max-640"></audios-list>
        <profile-images :user-id="accountData.userId" v-if="currentSection==='profile-pictures'" class="max-640"></profile-images>
    </section>

</div>

@section Scripts
{
    <script>
    document.querySelector('#isolaatti-top-bar').style.backgroundColor = '@Model.ProfileColor';
    let thisProfileId = "@ViewData["profile_id"]";
    let thisUserIsFollowingMe = "@ViewData["thisUserIsFollowingMe"]" === "True";
    let followingThisUser = "@ViewData["followingThisUser"]" === "True";
    </script>
    @if (ViewData["audioDescription"] == null)
    {
        <script>const audioDescriptionUrl = null;</script>
    }
    else
    {
        <script>const audioDescriptionUrl = "@ViewData["audioDescription"]";</script>
    }
    <script>
    let accountData = {
        userId: @ViewData["profile_id"]
    }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="~/js/lib/purify.min.js"></script>
    <script src="~/js/VueComponents/commentsViewer.js"></script>
    <script src="~/js/VueComponents/postComponent.js"></script>
    <script src="~/js/VueComponents/commentComponent.js"></script>
    <script src="~/js/VueComponents/postsList.js"></script>
    <script src="~/js/VueComponents/audiosList.js"></script>
    <script src="~/js/VueComponents/profileImagesComponent.js"></script>
    <script src="~/js/profile.js"></script>
}
