@page
@model isolaatti_API.Pages.Recorder

@{
    Layout = "Shared/_LayoutWebApp";
}
@section CSS
{
    <link rel="stylesheet" href="~/css/recorder.css">
}
@section Scripts
{
    <script>
    let trackUrls = [];
    trackUrls.push("@Model.Song.DrumsUrl");
    trackUrls.push("@Model.Song.BassUrl");
    trackUrls.push("@Model.Song.VoiceUrl");
    trackUrls.push("@Model.Song.OtherUrl");
    let duration = @ViewData["duration"];
    </script>
    <script src="~/js/recorder.js"></script>
}


<h5>Recorder - @ViewData["track_name"]</h5>
<a id="mix-player">Descargar</a>
<button id="play">Play mix</button>