@page
@model isolaatti_API.Pages.Recorder

@{
    Layout = "Shared/_LayoutWebApp";
}
@section CSS
{
    <link rel="stylesheet" href="~/css/recorder.css">
}
@section Scripts
{
    <script>
    let trackUrls = [];
    trackUrls.push("@Model.Song.DrumsUrl");
    trackUrls.push("@Model.Song.BassUrl");
    trackUrls.push("@Model.Song.VoiceUrl");
    trackUrls.push("@Model.Song.OtherUrl");
    let duration = @ViewData["duration"];
    </script>
    <script src="~/js/recorder.js"></script>
}

<div class="d-flex w-100">
    <div class="d-flex pl-1 pr-1 w-100" id="title-bar">
        <h6 class="m-2 ml-auto">New track: @ViewData["track_name"] (@Model.Song.OriginalFileName)</h6>
        <button type="button" class="btn btn-primary btn-sm m-1 ml-auto" data-target="#help-modal" data-toggle="modal"><i class="fas fa-question"></i></button>
        <button type="button" class="btn btn-primary btn-sm m-1" id="button-settings"><i class="fas fa-cog"></i></button>
        <button type="button" class="btn btn-primary btn-sm mt-1 mb-1" id="hide-top-bar-button">
            <i class="fas fa-chevron-up"></i>
        </button>
    </div>
</div>

<div class="col-lg-4 p-5">
    <h4>Settings</h4>
    <h5><i class="fas fa-music"></i> Backing track</h5>
    <div class="d-flex">
        <input type="range" id="backing-track-volume" class="flex-grow-1 mr-1">
        <button type="button" class="btn btn-primary"><i class="fas fa-volume-mute"></i></button>
    </div>

    <h5 class="mt-2"><i class="fas fa-microphone"></i> Your microphone</h5>
    <div class="w-100 d-flex justify-content-center flex-column">
        <progress id="mic-graphical" min="0" max="180" class="progress mt-3"></progress>
    </div>
    <div class="d-flex mt-1">
        <input type="range" id="mic-volume" class="flex-grow-1 mr-1">
        <button type="button" class="btn btn-primary"><i class="fas fa-microphone-slash"></i></button>
    </div>

</div>
<div class="col-lg-4 p-5">
    <h4>Lyrics</h4>
    <p>Not available yet</p>
</div>
<div class="col-lg-4 p-5">
    <div class="w-100 d-flex justify-content-center flex-column">
        <p id="current-state-text" class="text-lg-center"></p>
        <button id="play" class="start-recording-button mt-2 ml-auto mr-auto" disabled></button>
        <div id="result-container">
            
        </div>
    </div>
</div>

<!--Modals-->
<div class="modal fade" id="help-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5>Help</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5><i class="fas fa-music"></i> Backing track</h5>
                <p>The backing track includes all the tracks that the project you will add this track to has</p>
                <p>This track will not be included in the recording, but it's up to you to keep it out by using noise cancelling or headphones</p>
                <p>Playback is controlled by recording. Start recording to hear the backing track.</p>
                        
                <h5 class="mt-2"><i class="fas fa-microphone"></i> Your microphone</h5>
                <p>It can be your microphone or any audio device that your browser can give us access to.</p>
            </div>
        </div>
    </div>
</div>
